{% extends 'users/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'users/css/main_page.css' %}">
{% endblock %}


{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Выберите действие</h1>
<div class="btn-group" style="width:100%">
    <button style="width:33.3%"><a href = 'upload'>Загрузить видео</a></button>
    <button style="width:33.3%"><a href = 'login'>Войти в аккаунт</a></button>
    <button style="width:33.3%"><a href = 'register'>Создать аккаунт</a></button>
</div>
{% endblock %}

